body{
  margin: 0;
  font-family: coco, "Microsoft JhengHei", sans-serif;
}

@font-face {
  font-family: coco-big;
  src: local("Mamelon-5-Hi-Regular");
}

@font-face {
  font-family: coco;
  src: local("Mamelon-3.5-Hi-Regular");
}

@font-face {
  font-family: coco-light;
  src: local("Mamelon-3-Hi-Regular");
}


header{
  background-color: white;
  height: 80px;
}
.header-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  float: left;
  display: flex;
  margin-top: 25px;
  align-items: center;
  padding-top: 3px;
}
.logo #bulb{
  width: 35px;
}
.logo a{
  letter-spacing:4px;
  font-size: 25px;
  margin-left: 12px;
  color: #45729D;
  text-decoration: none;
  font-family: coco-big;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#left-menu {
  margin:35px 0px 0px 10px;
  display: inline-block;
  font-size: 14px;
}
#left-menu li {
  position: relative;
  white-space: nowrap;
  margin-right:-30px;
}
#left-menu > li {
  float: left;
}
#left-menu a {
  color: #808080;
  display: block;
  padding: 0 30px;
  text-decoration: none;
}
#left-menu a:hover {
  color: #45729D;
}
#left-menu li:hover > a {
  color: #45729D;
}
#left-menu ul {
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0,.12);
}
#left-menu ul li {
  background-color: white;
  line-height: 40px;
  text-align: center;
  border-bottom: #f2f2f2 1px solid;
}
#left-menu ul li:last-child {
  border-radius: 0 0 10px 10px;
}
#left-menu ul li:first-child {
  padding-top: 20px;
}
#left-menu ul {
  visibility: hidden;
  opacity: 0;
}
#left-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  left: -1px;
  border-right: 5px;
}

/*登入前*/
.header-right-before > #before-login > #right-menu{
  margin-top:35px;
}
.header-right-before > #before-login > #right-menu li{
  display: inline;
}
.header-right-before > #before-login > #right-menu li a{
  text-decoration: none;
  color:#808080;
  font-size:14px;
}
.header-right-before > #before-login > #right-menu ul li a:hover{
  color: #45729D;
}
.header-right-before > #after-login{
    display: none;
}

/*登入後*/
.header-right-after > #before-login{
    display: none;
}
.header-right-after > #after-login > #right-menu {
  margin: 28px 0px 0px 0px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.header-right-after > #after-login > #right-menu li {
  position: relative;
  white-space: nowrap;
  margin-right:-30px;
}
.header-right-after > #after-login > #right-menu > li {
  float: left;
  /* 只有第一層是靠左對齊*/
}
.header-right-after > #after-login > #right-menu a {
  color: #808080;
  display: block;
  padding: 0 30px;
  text-decoration: none;
}
.header-right-after > #after-login > #right-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  color: #45729D;
}
.header-right-after > #after-login > #right-menu li:hover > a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  color: #45729D;
}
.header-right-after > #after-login > #right-menu ul {
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0,.12);
}
.header-right-after > #after-login > #right-menu ul li {
  background-color: white;
  line-height: 40px;
  text-align: center;
  border-bottom: #f2f2f2 1px solid;
}
.header-right-after > #after-login > #right-menu ul li:last-child {
  border-radius: 0 0 10px 10px;
}
.header-right-after > #after-login > #right-menu ul li:first-child {
  padding-top: 20px;
  border-radius: 10px 10px 0px 0px;
}
.header-right-after > #after-login > #right-menu ul {
  visibility: hidden;
  opacity: 0;
}
.header-right-after > #after-login > #right-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  left: -1px;
  border-right: 5px;
}
#mail{
  filter: invert(52%) sepia(10%) saturate(12%) hue-rotate(1deg) brightness(95%) contrast(93%);
  width: 15px;
}
#user{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
#triangle{
  filter: invert(52%) sepia(10%) saturate(12%) hue-rotate(1deg) brightness(95%) contrast(93%);
  width: 10px;
}
#triangle:hover{
  filter: invert(40%) sepia(67%) saturate(389%) hue-rotate(169deg) brightness(89%) contrast(87%);
}
#mail:hover{
  filter: invert(40%) sepia(67%) saturate(389%) hue-rotate(169deg) brightness(89%) contrast(87%);
}



.showcase{
  width: 100%;
  height: 400px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.words{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showcase span #p{
  font-size: 12px;
  position: relative;
  top: .8rem;
  opacity: 0;
  animation: .5s swift-up ease-in-out forwards,
  1.5s fade-in ease-out forwards;
  animation-delay: 1.8s;
}

@keyframes fade-in{
  to{
    opacity: 1;
  }
}


span{
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: .8rem;
  animation: 1.3 swift-up ease-in-out forwards;
}

.words i{
  font-style: normal;
  position: relative;
  top: 2rem;
  animation: 1.5s swift-up ease-in-out forwards;
}

@keyframes swift-up{
  to{
    top: 0rem;
  }
}

span:nth-of-type(1) i {
  animation-delay: 1s;
}
span:nth-of-type(2) i {
  animation-delay: 1.1s;
}
span:nth-of-type(3) i {
  animation-delay: 1.2s;
}
span:nth-of-type(4) i {
  animation-delay: 1.3s;
}
span:nth-of-type(5) i {
  animation-delay: 1.4s;
}

span:nth-of-type(1) {
  animation-delay: 1s;
}
span:nth-of-type(2) {
  animation-delay: 1.1s;
}
span:nth-of-type(3) {
  animation-delay: 1.2s;
}
span:nth-of-type(4) {
  animation-delay: 1.3s;
}
span:nth-of-type(5) {
  animation-delay: 1.4s;
}

.container{
  display: flex;
  justify-content: center;
}
.box{
  background-color: #f2f2f2;
  width: 350px;
  height: 390px;
  margin: 50px;
  border-radius:10px;
}
.content{
  margin: 40px;
}
.content span{
  font-size: 18px;
}
.content p{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .05rem;
  font-family: coco-light;
} 

mark{
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(#B7DDFF, #B7DDFF);
  background-repeat: no-repeat;
  background-size: 0% 38%;
  background-position: 0 100%;
  animation: 2s highlight ease-in-out forwards;
}
/*
mark.animate{
  animation: 2s highlight ease-in-out forwards;
}*/
@keyframes highlight {
  to{
    background-size: 100% 38%;
  }
}

.below{
  display: flex;
  justify-content: center;
}
.video{
  margin-top: 50px;
}
.bigissue{
  margin-top: 50px;
  margin-left: 50px;
}
.stone #record{
  font-size: 18px;
}
.stone #update{
  font-size: 10px;
  color: #808080;
  margin-bottom: 20px;
  font-family: coco-light;
}
.big{
  font-size: 14px;;
}
.little{
  font-size: 10px;
  margin-bottom: 10px;
}
.footer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
}
.footer-left{
  display: flex;
}
.im{
  margin-right: 120px;
}
.im p{
  font-size: 14px;
}
.im a{
  display: block;
  text-decoration: none;
  line-height: 24px;
  font-size: 12px;
  color: #808080;
}
.im a:hover{
  color: #45729D;
}
.logo-footer{
  margin-left: 315px;
  display: flex;
  align-items: center;
}
.logo-footer #bulb{
  width: 35px;
}
.logo-footer a{
  letter-spacing:4px;
  font-size: 25px;
  color: #45729D;
  margin-left: 12px;
  text-decoration: none;
  font-family: coco-big;
}
#copyright{
  margin-top: 10px;
  margin-left: 162px;
  font-size: 12px;
}