body{
  margin: 0;
  font-family: coco, "Microsoft JhengHei", sans-serif;
}

@font-face {
  font-family: coco-big;
  src: local("Mamelon-5-Hi-Regular");
}
@font-face {
  font-family: coco;
  src: local("Mamelon-3.5-Hi-Regular");
}
@font-face {
  font-family: coco-light;
  src: local("Mamelon-3-Hi-Regular");
  font-weight: lighter;
}

header{
  background-color: white;
  height: 80px;
}
.header-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  float: left;
  display: flex;
  margin-top: 25px;
  align-items: center;
  padding-top: 3px;
}
.logo #bulb{
  width: 35px;
}
.logo a{
  letter-spacing:4px;
  font-size: 25px;
  margin-left: 12px;
  color: #45729D;
  text-decoration: none;
  font-family: coco-big;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#left-menu {
  margin:35px 0px 0px 10px;
  display: inline-block;
  font-size: 14px;
}
#left-menu li {
  position: relative;
  white-space: nowrap;
  margin-right:-30px;
}
#left-menu > li {
  float: left;
}
#left-menu a {
  color: #808080;
  display: block;
  padding: 0 30px;
  text-decoration: none;
}
#left-menu a:hover {
  color: #45729D;
}
#left-menu li:hover > a {
  color: #45729D;
}
#left-menu ul {
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0,.12);
}
#left-menu ul li {
  background-color: white;
  line-height: 40px;
  text-align: center;
  border-bottom: #f2f2f2 1px solid;
}
#left-menu ul li:last-child {
  border-radius: 0 0 10px 10px;
}
#left-menu ul li:first-child {
  padding-top: 20px;
}
#left-menu ul {
  visibility: hidden;
  opacity: 0;
}
#left-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  left: -1px;
  border-right: 5px;
}

/*登入前*/
.header-right-before > #before-login > #right-menu{
  margin-top:35px;
}
.header-right-before > #before-login > #right-menu li{
  display: inline;
}
.header-right-before > #before-login > #right-menu li a{
  text-decoration: none;
  color:#808080;
  font-size:14px;
}
.header-right-before > #before-login > #right-menu ul li a:hover{
  color: #45729D;
}
.header-right-before > #after-login{
    display: none;
}

/*登入後*/
.header-right-after > #before-login{
    display: none;
}
.header-right-after > #after-login > #right-menu {
  margin: 28px 0px 0px 0px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.header-right-after > #after-login > #right-menu li {
  position: relative;
  white-space: nowrap;
  margin-right:-30px;
}
.header-right-after > #after-login > #right-menu > li {
  float: left;
  /* 只有第一層是靠左對齊*/
}
.header-right-after > #after-login > #right-menu a {
  color: #808080;
  display: block;
  padding: 0 30px;
  text-decoration: none;
}
.header-right-after > #after-login > #right-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  color: #45729D;
}
.header-right-after > #after-login > #right-menu li:hover > a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  color: #45729D;
}
.header-right-after > #after-login > #right-menu ul {
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0,.12);
}
.header-right-after > #after-login > #right-menu ul li {
  background-color: white;
  line-height: 40px;
  text-align: center;
  border-bottom: #f2f2f2 1px solid;
}
.header-right-after > #after-login > #right-menu ul li:last-child {
  border-radius: 0 0 10px 10px;
}
.header-right-after > #after-login > #right-menu ul li:first-child {
  padding-top: 20px;
  border-radius: 10px 10px 0px 0px;
}
.header-right-after > #after-login > #right-menu ul {
  visibility: hidden;
  opacity: 0;
}
.header-right-after > #after-login > #right-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  left: -1px;
  border-right: 5px;
}
#mail{
  filter: invert(52%) sepia(10%) saturate(12%) hue-rotate(1deg) brightness(95%) contrast(93%);
  width: 15px;
}
#user{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
#triangle{
  filter: invert(52%) sepia(10%) saturate(12%) hue-rotate(1deg) brightness(95%) contrast(93%);
  width: 10px;
}
#triangle:hover{
  filter: invert(40%) sepia(67%) saturate(389%) hue-rotate(169deg) brightness(89%) contrast(87%);
}
#mail:hover{
  filter: invert(40%) sepia(67%) saturate(389%) hue-rotate(169deg) brightness(89%) contrast(87%);
}


.title{
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: coco-big;
  margin-top: 30px;
}
.lable{
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
}
.login-block{
  width: 320px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.login-block input{
  width:310px ;
  height:25px;
  margin: 10px 0px 10px 0px;
  border: 1px #e6e6e6 solid;
}
.rememberme{
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.rem{
  font-size: 14px;
  text-align: center;
}
.rememberme a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.rememberme a:hover{
  color: #45729D;
}
.button{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.login{
  width:320px;
  height:40px;
  border-radius:10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.login:hover{
  background-color: #45729D;
  color: white; 
  transition-duration: 0.3s;
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.google{
  text-align: left;
  width:320px;
  height:40px;
  border-radius:10px;
  border:none;
  cursor: pointer;
  background-color: #ffcc66;
  color: white; 
  font-size: 14px;
  margin-bottom: 10px;
}
.google:hover{
  border: 1px #ffcc66 solid;
  background-color: white;
  color: #ffcc66;
  transition-duration: 0.3s;
}

.facebook{
  text-align: left;
  width:320px;
  height:40px;
  border-radius:10px;
  cursor: pointer;
  border: none;
  background-color: #4d6fb3;
  color: white;
  font-size: 14px;
}
.facebook:hover{
  border: 1px #4d6fb3 solid;
  background-color: white;
  color: #4d6fb3;
  transition-duration: 0.3s;
}
.signup{
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.signup p{
  font-size: 14px;
}
.sig{
  width:100px;
  height:35px;
  border-radius:10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}  
.sig:hover{
  background-color: #45729D;
  color: white; 
  transition-duration: 0.3s;
}
.footer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
}
.footer-left{
  display: flex;
}
.im{
  margin-right: 120px;
}
.im p{
  font-size: 14px;
}
.im a{
  display: block;
  text-decoration: none;
  line-height: 24px;
  font-size: 12px;
  color: #808080;
}
.im a:hover{
  color: #45729D;
}
.logo-footer{
  margin-left: 315px;
  display: flex;
  align-items: center;
}
.logo-footer #bulb{
  width: 35px;
}
.logo-footer a{
  letter-spacing:4px;
  font-size: 25px;
  color: #45729D;
  margin-left: 12px;
  text-decoration: none;
  font-family: coco-big;
}
#copyright{
  margin-top: 10px;
  margin-left: 162px;
  font-size: 12px;
}